.navbar{
    height: 6rem;
    /* background-color: #92c1ad; */
    background-image: radial-gradient(circle at 100% 100%, #d6e5cf 0, #d1e4cf 10%, #c8e0cb 20%, #bbd9c4 30%, #a9ceba 40%, #92c1ad 50%, #7ab4a2 60%, #66aa9a 70%, #55a297 80%, #499e98 90%, #439c9b 100%);
}

.sub {
    width: 9rem;
    margin-top: 5px;
}

.btn-group, .btn-left {
    height: 3rem;
    width: 7rem;
    background-color: #a2a58a;
    margin-left: 1rem;
    transition: 0.4s;
    color: black;
    border: none;
}

.btn-group:hover, .btn-left:hover {
    background-color: aliceblue;
    border-radius: 20px ;
}

.img-shipment-envio {
    height: 3rem;
    margin-left: 1rem;
}

.input-with-button{
    position: relative;
    display: inline-flex;
    align-items: center;
}

.search-input {
    width: 20rem;
    transition: width 1s ease;
    padding: 5px 35px 5px 5px;
    margin-right: 0;
}

.search-input:focus {
    width: 35rem;
}

.img-search {
    height: 29px;
    position: absolute;
    right: 5px;
    top: 3%;
}

.btn-search {
    position: absolute;
    right: 10px;
    top: 10%;
    background-color: aliceblue !important;
    border: none;
    padding: 6px;
}