<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LOGO HOME</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Rastrear</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Rastrear y consultar</a></li>
              <li><a class="dropdown-item" href="#">Rastrear Factura Electrónica</a></li>
              <li><a class="dropdown-item" href="#">Rastrear múltiples guías</a></li>
              <li><a class="dropdown-item" href="#">Rastrear por referencia</a></li>
              <li><a class="dropdown-item" href="#">Rastrear por destinatario</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Destinos y trayectos</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cotizar</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Cotizar mis envios</a></li>
              <li><a class="dropdown-item" href="#">Ver tarifas y precios</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Recoger</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>