<div class="container-fluid footer">
    <div class="row">
        <div class="col">
                <div>
                    <a href=""><img (click)="navigateToHome()" class="logo" src="../../../assets/imgFooter/entrega-de-paquetes.png" alt="">LOGO HOME</a>
                </div>
                <div class="container-contac-Us d-flex">
                    <img class="comunicar" src="../../../assets/imgFooter/auriculares.png" alt="">
                    <div class="contactUs">
                        <p>Comunicate con nuestra</p>
                        <p>Linea Nacional</p>
                        <a href="">(601) 5214 500</a>
                        </div>
                </div>
        </div>
        <div class="col"></div>
    </div>
</div>