.floating-image {
    height: 70px;
    position: fixed;
    right:10%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border-color 0.4s;
}

.floating-image:hover {
    cursor: pointer;
    border-color: #92c1ad;
    animation: none;
}
